body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1c1d26; /* Dark gray background */
    color: #ffffff; /* White font color */
}

.profile-container {
    display: flex;              /* Align the image and text side by side */
    align-items: center;        /* Vertically align image and text */
}

.profile-icon {
    width: 150px;               /* Set the size of the image */
    height: 150px;              /* Make it a square */
    border-radius: 50%;         /* Make the image circular */
    margin-right: 20px;         /* Add space between the image and the text */
    margin-left: 5px;
    margin-top: 0;
}

.project-card {
    display: flex;
    align-items: center;         /* Ensures the icon and title align vertically */
    background-color: #1c1d26;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: 3px solid #1e90ff;
}

.project-icon {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 5px;
    display: block;             /* Makes sure the icon is displayed as a block element */
}

.project-details h3 a {
    color: #1e90ff; /* Light blue for links */
    text-decoration: none;
}

.project-details h3 a:hover {
    text-decoration: underline;
    color: #00bfff; /* Brighter blue on hover */
}

h1, h2 {
    color: #ffffff; /* Ensure headings are white */
}

a {
    color: #1e90ff; /* Light blue for links */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #00bfff; /* Brighter blue on hover */
}
